# AirbyteLib Interactive Demo

Install AirbyteLib from parent directory:

```bash
cd airbyte-lib/examples
poetry install
```

Import AirbyteLib:

In [6]:
import airbyte_lib as ab

from airbyte_lib.caches import DuckDBCache, DuckDBCacheConfig
from airbyte_lib.caches import base
from airbyte_lib import Source

base.DEBUG_MODE = False  # Less verbose logging

VOLUME_FACTOR = 10_000      # 10K rows, approx. 5 sec. runtime
# VOLUME_FACTOR = 100_000     # 100K rows, approx. 30 sec. runtime
# VOLUME_FACTOR = 1_000_000   # 1M rows, approx. 4 min. runtime

Get the source connector:

In [7]:
source: Source = ab.get_connector(
    "source-faker",
    pip_url="../../airbyte-integrations/connectors/source-faker",
    config={
        "count": VOLUME_FACTOR,  # number of users to generate data for
        "seed": 123,
    },
    install_if_missing=True,
)
source.check()

Create a local DuckDB SQL cache:

In [8]:
cache = DuckDBCache(
    config=DuckDBCacheConfig(
        db_path="./.output/cache.db",
    ),
    source_catalog=source.configured_catalog,
)

Run sync:

In [9]:
sync_result = source.read_all(cache=cache)

/Users/ajsteers/Source/airbyte/airbyte-lib/examples/.venv/lib/python3.10/site-packages/duckdb_engine/__init__.py:179: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(
/Users/ajsteers/Source/airbyte/airbyte-lib/examples/.venv/lib/python3.10/site-packages/duckdb_engine/__init__.py:179: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(
/Users/ajsteers/Source/airbyte/airbyte-lib/examples/.venv/lib/python3.10/site-packages/duckdb_engine/__init__.py:179: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(

Show records:

In [10]:
sync_result["users"].to_pandas()

,id,created_at,updated_at,name,title,age,email,telephone,gender,language,academic_degree,nationality,occupation,height,blood_type,weight,address
0,1,2008-09-01 05:03:26,2024-01-02 22:57:17,Murray,Prof.,36,vancouver1890+1@live.com,1-980-442-1311,Fluid,Northern Sotho,Master,Uruguayan,Reporter,1.59,AB−,83,"{'city': Alabaster, 'country_code': SV, 'posta..."
1,2,2011-01-11 05:25:19,2024-01-02 22:57:17,Danyell,Ms.,63,confidentiality2091+2@example.org,1-794-584-4787,Male,Dzongkha,Bachelor,Latvian,Brewery Manager,1.90,O+,53,"{'city': Northampton, 'country_code': CO, 'pos..."
2,3,2013-01-18 15:39:27,2024-01-02 22:57:17,Shirleen,Dr.,46,tired2040+3@example.org,1-627-534-8753,Male,Quechua,Bachelor,Ecuadorian,Recovery Vehicle Coordinator,1.54,B−,51,"{'city': North Miami, 'country_code': PT, 'pos..."
3,4,2007-04-04 12:20:13,2024-01-02 22:57:17,Carroll,Mr.,63,financing1914+4@example.org,1-921-844-7000,Fluid,Zulu,Bachelor,Bolivian,Tug Skipper,1.71,B+,61,"{'city': Oviedo, 'country_code': HU, 'postal_c..."
4,5,2012-04-25 20:22:34,2024-01-02 22:57:17,Osvaldo,M.Sc.Tech.,63,importance2023+5@yahoo.com,+1-(335)-896-8710,Fluid,Icelandic,Master,Japanese,Genealogist,1.53,O+,80,"{'city': Mattoon, 'country_code': MT, 'postal_..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,9996,2014-02-26 11:55:27,2024-01-02 22:59:21,Corrin,Ms.,31,pantyhose2084+9996@example.org,667.175.3576,Female,West Frisian,Master,Chilean,Refrigeration Engineer,1.80,AB−,38,"{'city': Hollister, 'country_code': SD, 'posta..."
19996,9997,2019-12-31 13:24:57,2024-01-02 22:59:21,Booker,PhD,42,resumes1985+9997@live.com,671.371.1409,Male,Swati,PhD,Taiwanese,Track Worker,1.60,B−,43,"{'city': Granite City, 'country_code': NE, 'po..."
19997,9998,2014-05-22 18:32:18,2024-01-02 22:59:21,Sherman,Mr.,30,steps1828+9998@example.com,1-851-328-4152,Fluid,Albanian,Master,Belgian,Ticket Inspector,1.55,O−,64,"{'city': Fair Lawn, 'country_code': BO, 'posta..."
19998,9999,2008-09-08 23:47:34,2024-01-02 22:59:21,Clarinda,M.Eng.,47,donna2041+9999@gmail.com,220.787.5157,Female,Luxembourgish,Bachelor,Mexican,Civil Engineer,1.86,AB−,64,"{'city': Sun Prairie, 'country_code': PN, 'pos..."
19999,10000,2007-03-23 02:01:24,2024-01-02 22:59:21,Ismael,M.Des,17,diego2053+10000@example.org,223.304.2569,Male,Tajik,PhD,Chilean,Judge,1.70,A+,56,"{'city': Galveston, 'country_code': TT, 'posta..."